<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="Application.Name" value="EH.TimeTrack" />
  <add key="Application.DisplayName" value="Macomb County" />
  <add key="Application.Contact.Email" value="websupport@macombgov.org"/>

  <add key="Application.Department" value="Health"/>
  <add key="Application.Description" value="Environmental*"/>

  <add key="Application.LeftNav.StartCollapsed" value="false"/>

  <add key="Ssrs.Report.Path" value="/Applications/EH/TimeTrack/" />
</appSettings>