@{
    ViewBag.Title = "Not Found";
}

@section PageStyles {
    <link href="//assets.macombgov.org/admin/pages/css/error.css" rel="stylesheet" type="text/css" />
}

<!-- BEGIN PAGE CONTENT -->
<div class="col-md-12 page-404">
    <div class="number">
        404
    </div>
    <div class="details">
        <h3>Oops! You're lost.</h3>
        <p>
            We can not find the page you're looking for.<br />
            <a href="/home/index">
                Return Home
            </a>
        </p>
    </div>
</div>
<!-- END PAGE CONTENT -->
