@{
    ViewBag.Title = "Unauthorized";
}

@section PageStyles {
    <link href="//assets.macombgov.org/admin/pages/css/error.css" rel="stylesheet" type="text/css" />
}

<!-- BEGIN PAGE CONTENT -->
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number">
            401
        </div>
        <div class=" details">
            <h3>You are not authorized to perform this action.</h3>
            <p>
                Please contact the application administrator for further information.<br /><br />
            </p>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
