@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && !string.IsNullOrEmpty(EH.TimeTrackNet.Web.Utilities.SessionHelper.DisplayName))
{
    <li class="dropdown dropdown-user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username">@EH.TimeTrackNet.Web.Utilities.SessionHelper.DisplayName</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("LogOff", "Home")">
                    <i class="fa fa-user"></i> Log Out
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown dropdown-user">
        <a class="dropdown-toggle login" href="javascript:void(0);">
            <i class="fa fa-user"></i><span class="username">Log In&nbsp;&nbsp;&nbsp;</span>
        </a>
    </li>
}
