
@{
    ViewBag.Title = "Purge Activity Data Confirmation";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Success - Activities Purged</h2>
</body>
</html>
<!-- END PAGE CONTENT -->
