@{
    ViewBag.Title = "Reports";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Activity_Report&rs:embed=true" data-token="true">Activity Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Option_Activity_Report&rs:embed=true" data-token="true">Option Activity Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}OPtion_Program_Report&rs:embed=true" data-token="true">Option Program Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Option_Report&rs:embed=true" data-token="true">Option Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Program_Report&rs:embed=true" data-token="true">Program Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Samples_Report&rs:embed=true" data-token="true">Samples Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Worker_Daily_Report&rs:embed=true" data-token="true">Worker Daily Report</a></p>
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Worker_Report&rs:embed=true" data-token="true">Worker Report</a></p>   
    <p><a href="javascript: void(0);" data-target=".ssrs-modal-lg" data-modal="true" data-remote="true" data-same-origin="false" data-location-href="{Ssrs.WebService.Url}{Ssrs.Report.Path}Worker_Time_Report&rs:embed=true" data-token="true">Worker Time Report</a></p>
	<div class="modal fade ssrs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- END PAGE CONTENT -->