@{
    ViewBag.Title = "Help";
}

@section PageStyles {
    <link href="//assets.macombgov.org/admin/pages/css/about-us.min.css" rel="stylesheet" type="text/css" />
}

<div class="row margin-bottom-30">
    <div class="col-md-6">
        @Html.Raw(ViewBag.BodyHtml)
    </div>
</div>
